/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #001F3F; /* El color de fondo de la navbar */
  color: white;
}

/* Estilos para la parte izquierda de la navbar */
.navbar-left img {
  width: 50px;  /* Ajusta el tamaño de la imagen del logo */
  height: auto;
}

.navbar-right a {
  color: #ffffff; /* Color de texto blanco por defecto */
  text-decoration: none; /* Eliminar subrayado */
  padding: 10px 15px; /* Espaciado para aumentar el área de clic */
  font-size: 16px; /* Tamaño de la letra inicial */
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
  -webkit-text-stroke: 1px transparent; /* Borde transparente por defecto */
  display: inline-block; /* Asegura que el texto sea tratado como un bloque */
}

.navbar-right a:hover {
  color: #ffffff; /* Mantener el color blanco del texto */
  -webkit-text-stroke: 1px #FF4837; /* Borde rojo alrededor de las letras al hacer hover */
  transform: translateY(-2px); /* Mover ligeramente el texto hacia arriba sin cambiar su tamaño */
}
