/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #001F3F; /* El color de fondo de la navbar */
  color: white;
  opacity: 0;  /* Comienza con opacidad 0 */
  transform: translateY(-20px); /* Comienza desplazado hacia arriba */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transición suave */
}

/* Clase 'loaded' para animar la barra de navegación */
.navbar.loaded {
  opacity: 1;  /* Al cargarse, opacidad pasa a 1 */
  transform: translateY(0); /* Desplazamiento hacia su posición original */
}

/* Estilos para la parte izquierda de la navbar */
.navbar-left img {
  width: 50px;  /* Ajusta el tamaño de la imagen del logo */
  height: auto;
}

.navbar-right a {
  color: #ffffff; /* Color del texto por defecto */
  text-decoration: none; /* Sin subrayado */
  padding: 10px 15px;
  font-size: 16px;
  transition: all 0.3s ease;
  -webkit-text-stroke: 1px transparent; /* Borde transparente por defecto */
}

.navbar-right a.active {
  -webkit-text-stroke: 1px #FF4837; /* Borde rojo para el enlace activo */
  color: transparent; /* Hace que solo se vea el borde */
}

.navbar-right a:hover {
  color: #ffffff; /* Cambiar el color del texto al rojo en el hover */
  -webkit-text-stroke: 0px transparent; /* Eliminar el borde del texto si no lo quieres */
  background-color: #ff6f61; /* Fondo rojo claro con opacidad */
  border-radius: 5px; /* Bordes redondeados para el efecto de fondo */
  transform: translateY(-2px) scale(1.05); /* Mover hacia arriba y hacer un poco más grande */
  transition: all 0.3s ease-in-out; /* Suavizar las transiciones */
}
